<h1>Directivas Estructurales</h1>

<!-- <h3>Panel de Usuario</h3>
<div [ngSwitch]="rolUsuario">
  <p *ngSwitchCase="'admin'">Eres Administrador</p>
  <p *ngSwitchCase="'user'">Eres Usuario</p>
  <p *ngSwitchDefault>Rol no reconocido</p>
</div>

<p [ngClass]="{'Importante' : tareaImportante}">
  Tarea importante
</p>

<p [ngStyle]="{color: IsUrgente ? 'red' : 'green', fontSize: '20px'}">
  Esta tarea es urgente!
</p> -->


<!-- <app-todo></app-todo> -->
 
<app-product-manager></app-product-manager>